<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>
        MI PRIMERA PAGINA WEB
       
<!--    {% if categorias %}
            Si hay datos
        {% else %}
            No hay datos
        {% endif %} -->
    </h1>

{% block content %}
    <ul>
        {% for category in categorias %}
        <li>{{category.id}} / {{category.name}}</li>
        {% endfor %}
    </ul>
{% endblock %}



    <p>{{name}}</p>
</body>

</html>